@font-face {
  font-family: NorseBold;
  src: url(/fonts/Norse-Bold.otf);
}
:root {
  --olive: rgb(89, 109, 72);
  --gray: rgb(245, 245, 245);
  --white: rgb(255, 255, 255);
  --black: rgba(0, 0, 0, 0.4);
  --gray-darker: rgb(229, 231, 235);
  --blue: rgb(30, 144, 255);
  --red: rgb(255, 0, 0);
}
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0px;
  padding: 0px;
  background: var(--gray);
}

section {
  height: 100vh;
}

/*left section*/
h1 {
  margin: 0px;

  color: var(--white);

  font-size: 3rem;
  font-family: NorseBold;
}
img {
  width: 4rem;
  height: auto;
}
body > section:first-child {
  float: left;
  width: 35%;
  height: 100vh;
  position: relative;
  margin: 0px;

  background: url(/images/background-image.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
section:first-of-type > div {
  display: flex;
  justify-content: center;
  align-items: center;
}
section:first-child > div:first-of-type {
  position: absolute;
  top: 150px;
  width: 100%;
  height: 6rem;

  background: var(--black);
}

section:first-of-type p {
  position: absolute;
  width: inherit;
  margin: 0px;
  bottom: 5px;

  font-size: 0.6rem;
  color: var(--white);
}
section:first-of-type a {
  color: var(--white);
  text-decoration: underline;
}

/*Right Section */
section:last-of-type {
  float: right;
  width: 65%;
  margin: 0px;
}

/*top written content*/
div > h4:first-of-type {
  margin: 15% 42% 3% 5%;
}
h4 > span {
  display: block;
  margin-top: 5%;
}
h4:last-of-type {
  margin: 0px;
  padding: 2% 5%;

  background-color: var(--white);
}

form {
  width: 100%;
  margin: 0px;
}

fieldset {
  padding: 0% 42% 2% 5%;
  border: 0px;

  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
  flex-wrap: wrap;

  background-color: var(--white);
}


input {
  display: block;
  border: 1px solid var(--gray-darker);
  border-radius: 5px;
}


input:focus {
  border: 1px solid var(--blue);
  outline: none;
}

label {
  font-size: 0.5rem;
}
form > div {
  background-color: var(--gray);
  padding: 2% 42% 2% 5%;
}
button {
  font-size: 0.7rem;
  background-color: var(--olive);
  color: var(--white);
  border: none;
  box-shadow: none;
  padding: 5px 30px;
  border-radius: 5px;
}
section:last-of-type p {
  font-size: 0.7rem;
}
section:last-of-type a {
  text-decoration: none;
  color: var(--olive);
  font-weight: bolder;
}
.valid-class {
  border: 1px solid var(--olive);
}
.invalid-class {
  border: 1px solid var(--red);
}
.invalid-message,
.invalid-message-password {
  color: red;
  visibility: hidden;
}